@page "/corporate"

@using EmployeeDirectory.Desktop.Components
@using EmployeeDirectory.Core.DTOs
@using EmployeeDirectory.Core.Services
@using EmployeeDirectory.Desktop.Components.Navigation
@using Telerik.Blazor.Components

@inject IDirectoryService DirectoryService
@inject NavigationManager NavigationManager
@inject LayoutState LayoutState

<PageTitle>Corporate</PageTitle>

@if (Departments == null || Departments.Count == 0)
{
    <p>Loading corporate data...</p>
}
else
{
    <div class="button-page-container">
        <div class="scrollable-wrapper">
            <TelerikListView Data="@Departments" EnableLoaderContainer="true" Class="button-list-container">
                <Template Context="dept">
                    <NavLink href="@($"/corporate/{dept.Id}")" class="nav-link-clean">
                        <div class="menu-item menu-item-button">
                            @dept.DeptName
                        </div>
                    </NavLink>
                </Template>
            </TelerikListView>
        </div>
    </div>
}

<style>
    .nav-link-clean {
        text-decoration: none;
    }

    .menu-item-button {
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 600;
        color: white;
        justify-content: flex-start;
        align-items: center;
        padding: 1.5rem 2.5rem;
        border-radius: 0.75rem;
    }
</style>

@code {
    private List<DepartmentDto>? Departments = new();
    private LocationDto? corporate;
    private List<FooterNav.FooterItem> FooterNav => FooterNavigation.CorporateSection;

    protected override async Task OnInitializedAsync()
    {
        corporate = await DirectoryService.GetLocationWithDepartmentsAsync(1);
        Departments = corporate?.Departments.OrderBy(d => d.DeptName).ToList() ?? new List<DepartmentDto>();
    }

    private HeaderCardModels.HeadInfoCardModel CorporateHeadCard = new()
    {
        Title = "Corporate",
        Address = "1500 Hamilton Rd",
        City = "Bossier City",
        State = "LA",
        Zip = "71111",
        Subtitle1 = "Corp. Phone",
        Phone = "(888) 245-3696",
        Subtitle2 = "Corp. Email",
        Email = "info@mcelroymetal.com",
        Subtitle3 = "IT Help Desk",
        Phone2 = "(866) 634-5111"
    };

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            LayoutState.SetHeader(CorporateHeadCard);
            LayoutState.SetFooter(FooterNavigation.CorporateSection);
        }
    }
}
